@media screen and (max-width:991px){.w-container{max-width:728px}.w-hidden-main{display:inherit !important}.w-hidden-medium{display:none !important}.w-col-medium-1{width:8.33333333%}.w-col-medium-2{width:16.66666667%}.w-col-medium-3{width:25%}.w-col-medium-4{width:33.33333333%}.w-col-medium-5{width:41.66666667%}.w-col-medium-6{width:50%}.w-col-medium-7{width:58.33333333%}.w-col-medium-8{width:66.66666667%}.w-col-medium-9{width:75%}.w-col-medium-10{width:83.33333333%}.w-col-medium-11{width:91.66666667%}.w-col-medium-12{width:100%}.w-col-stack{width:100%;left:auto;right:auto}}@media screen and (max-width:767px){.w-hidden-main{display:inherit !important}.w-hidden-medium{display:inherit !important}.w-hidden-small{display:none !important}.w-row,.w-container .w-row{margin-left:0;margin-right:0}.w-col{width:100%;left:auto;right:auto}.w-col-small-1{width:8.33333333%}.w-col-small-2{width:16.66666667%}.w-col-small-3{width:25%}.w-col-small-4{width:33.33333333%}.w-col-small-5{width:41.66666667%}.w-col-small-6{width:50%}.w-col-small-7{width:58.33333333%}.w-col-small-8{width:66.66666667%}.w-col-small-9{width:75%}.w-col-small-10{width:83.33333333%}.w-col-small-11{width:91.66666667%}.w-col-small-12{width:100%}}@media screen and (max-width:479px){.w-container{max-width:none}.w-hidden-main{display:inherit !important}.w-hidden-medium{display:inherit !important}.w-hidden-small{display:inherit !important}.w-hidden-tiny{display:none !important}.w-col{width:100%}.w-col-tiny-1{width:8.33333333%}.w-col-tiny-2{width:16.66666667%}.w-col-tiny-3{width:25%}.w-col-tiny-4{width:33.33333333%}.w-col-tiny-5{width:41.66666667%}.w-col-tiny-6{width:50%}.w-col-tiny-7{width:58.33333333%}.w-col-tiny-8{width:66.66666667%}.w-col-tiny-9{width:75%}.w-col-tiny-10{width:83.33333333%}.w-col-tiny-11{width:91.66666667%}.w-col-tiny-12{width:100%}}@media screen and (max-width:767px){.w-nav-brand{padding-left:10px}}@media (min-width:768px){.w-lightbox-content{height:96vh;margin-top:2vh}.w-lightbox-view,.w-lightbox-view:before{height:96vh}.w-lightbox-group,.w-lightbox-group .w-lightbox-view,.w-lightbox-group .w-lightbox-view:before{height:84vh}.w-lightbox-image{max-width:96vw;max-height:96vh}.w-lightbox-group .w-lightbox-image{max-width:82.3vw;max-height:84vh}.w-lightbox-left,.w-lightbox-right{display:block;opacity:.5}.w-lightbox-close{opacity:.8}.w-lightbox-control:hover{opacity:1}}@media screen and (max-width:991px){.w-nav[data-collapse="medium"] .w-nav-menu{display:none}.w-nav[data-collapse="medium"] .w-nav-button{display:block}}@media screen and (max-width:767px){.w-nav[data-collapse="small"] .w-nav-menu{display:none}.w-nav[data-collapse="small"] .w-nav-button{display:block}.w-nav-brand{padding-left:10px}}@media screen and (max-width:479px){.w-nav[data-collapse="tiny"] .w-nav-menu{display:none}.w-nav[data-collapse="tiny"] .w-nav-button{display:block}}@media screen and (max-width:479px){.w-tab-link{display:block}}


.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url(https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

#contact {
      width: -webkit-fill-available;
    font-size: 1vw;
    z-index: 10000;
  font-size: 1vw;
  line-height: 20px;
  font-weight: 500;
}

@media(max-width: 768px){
  #contact {
      width: -webkit-fill-available;
    font-size: 1vw;
    z-index: 10000;
  overflow-y: auto;
  font-size: 1vw;
  line-height: 20px;
  font-weight: 500;
}
}

.line-terms {
  height: 1px;
  background-color: #fff;
}

.checkbox {
  width: 25px;
  height: 25px;
  margin-top: 0px;
  margin-left: 0px;
}

.checkbox.w--redirected-checked {
  background-color: #5581da;
}

.text-span-8 {
  border-bottom: 1px solid #f8f8f8;
}

.paragraph {
  width: 16.5em;
  margin-bottom: 0px;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
}

.social-icons {
  width: 2.5em;
  padding-right: 1em;
}

.grid_item {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  padding: 1.4em;
  padding-bottom: 0;
}

.grid_item.footer-text-mobile {
  display: none;
  width: 60%;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 5em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.grid_item.footer-logo {
  display: flex;
  width: 20%;
  padding: 0em 0em 0em 1.04em;
  justify-content: flex-start;
  align-items: center;
}

.grid_item.is--50 {
  position: relative;
  display: flex;
  width: 50%;
  justify-content: center;
}

.grid_item.is--50.footer-1 {
  width: 60%;
  justify-content: flex-start;
}

.grid_item.is--50.footer-2 {
  width: 40%;
  justify-content: center;
  align-items: flex-end;
  white-space: nowrap;
}

.grid_item.footer-text {
  width: 60%;
  padding-top: 0em;
  padding-bottom: 0em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid_item.footer-social-mobile {
  display: none;
  width: 20%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.grid_item.footer-social {
  display: flex;
  width: 20%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.image-footer {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  width: 100%;
  height: 91%;
  opacity: 0.5;
  -o-object-fit: fill;
  object-fit: fill;
}

.span-text.footer-2 {
  font-weight: 300;
}

.logo-footer {
  width: 13em;
}

.grid {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
}

.grid.is--footer {
  z-index: 3;
}

.grid.is--final-coypright {
  z-index: 1;
  align-items: center;
}

.link-block-3 {
  padding-top: 0em;
  color: #fff;
  text-decoration: none;
}

.is--white {
  color: #fff;
}

.is--white.is--69px {
  display: flex;
  flex-direction: column;
  font-size: 69px;
  line-height: 1.4;
  white-space: pre-line;
}

.container {
  z-index: 1;
  width: 1560px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 15em 6.25em;
}

.container.footer {
  padding: 2em 12em 4em;
}

.checkbox-field {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -30%;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  justify-content: flex-start;
  align-items: center;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.contact-text-wrapper {
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-terms {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  text-align: center;
}

.gradient-top {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: none;
  width: 100%;
  height: 110%;
}

.section {
  position: relative;
  z-index: 10;
  max-width: 100%;
  background-color: #fff;
}

.section.is--footer {
  position: relative;
  bottom: 0px;
  z-index: 1;
  overflow: visible;
  height: -webkit-fill-available;
  background: url(https://assets.website-files.com/6170167a7b5ce6345a462c55/61869c8836829ab3793d2e01_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.text-field {
  margin-bottom: 0px;
  padding: 1.5em 0px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #c4c4c4;
  background-color: hsla(0, 0%, 100%, 0);
}

.text-field:active {
  transform: translate(0px, 0px);
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
}

.text-field:focus {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.text-field::-moz-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
}

.text-field::-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
}

.text-field::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
}

.text-block-6 {
  font-size: 13px;
  line-height: 1.5;
  font-weight: 300;
}

.social {
  display: flex;
  padding-bottom: 0.7em;
  justify-content: center;
  align-items: center;
}

.checkbox-label {
  display: none;
  margin-bottom: 0px;
  padding-left: 2em;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.checkbox-label.open {
  display: block;
  font-weight: 400;
}

.div-block-12 {
  position: relative;
  padding-bottom: 6em;
}

.submit-button {
  left: auto;
  top: auto;
  right: 0%;
  bottom: -30%;
  z-index: 10;
  width: 260px;
  height: 42px;
  font-size: 16px;
  font-weight: 300;
  background-color: #054D61;
  color: white;
}

.form-block {
  position: relative;
}

.find-us {
  padding-bottom: 1em;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.body {
  font-weight: 500;
}

.text-span-15 {
  font-weight: 500;
}

.text-span-16 {
  font-weight: 400;
  text-transform: uppercase;
}

.footer-terms-span {
  color: #fff;
  text-decoration: none;
}

.form-privacy {
  display: flex;
  justify-content: space-between;
}

.privacy {
  text-align: center;
  align-self: center;
  justify-self: center;
}

.privacytext {
  text-decoration: underline;
  color: white;
}

.btn-privacy {
  margin-top: 10px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  background-color: #054D61;
  padding: 8px;
}

@media screen and (max-width: 991px) {
  .social-icons {
    width: 3.3em;
  }

  .grid_item {
    display: block;
    height: 100%;
  }

  .grid_item.footer-text-mobile {
    width: 70%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.04em;
    flex-direction: column;
  }

  .grid_item.footer-logo {
    width: 100%;
    padding-bottom: 3em;
  }

  .grid_item.footer-text {
    width: 70%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.04em;
    flex-direction: column;
  }

  .grid_item.footer-social-mobile {
    width: 30%;
    padding-top: 3em;
    padding-left: 4.04em;
    align-items: flex-start;
  }

  .grid_item.footer-social {
    width: 30%;
    padding-top: 3em;
    padding-bottom: 2em;
    padding-left: 4.04em;
    align-items: flex-start;
  }

  .logo-footer {
    width: 17em;
  }

  .is--white.is--69px {
    font-size: 50px;
  }

  .container {
    padding: 0px 3em 10em;
  }

  .submit-button {
    left: 0%;
    right: auto;
    bottom: -63%;
  }
}

@media screen and (max-width: 767px) {
  .social-icons {
    width: 4em;
    margin-right: 2em;
    padding-right: 0em;
  }

  .grid_item.footer-text-mobile {
    width: 100%;
  }

  .grid_item.is--50.footer-2 {
    width: 100%;
    justify-content: flex-end;
  }

  .grid_item.footer-text {
    width: 100%;
  }

  .grid_item.footer-social-mobile {
    padding-left: 1.04em;
    flex-direction: column;
  }

  .grid_item.footer-social {
    width: 50%;
    padding-left: 1.04em;
    flex-direction: column;
  }

  .grid.is--final-coypright {
    padding-top: 15em;
  }
}

@media screen and (max-width: 479px) {
  .line-terms {
    height: 0.5px;
  }

  .checkbox {
    width: 20px;
    height: 20px;
  }

  .text-span-8 {
    border-bottom-width: 0.5px;
  }

  .paragraph {
    font-size: 14.5px;
  }

  .social-icons {
    width: 6em;
  }

  .grid_item.footer-text-mobile {
    display: block;
    padding-top: 5em;
  }

  .grid_item.footer-logo {
    padding-bottom: 7em;
    padding-top: 2em;
  }

  .grid_item.is--50.footer-1 {
    width: 100%;
  }

  .grid_item.is--50.footer-2 {
    width: 100%;
    padding-top: 7em;
    padding-left: 1.04em;
    justify-content: flex-start;
  }

  .grid_item.footer-text {
    display: none;
  }

  .grid_item.footer-social-mobile {
    display: block;
    width: 100%;
    padding-top: 0;
    padding-bottom: 5em;
  }

  .grid_item.footer-social {
    display: none;
  }

  .footer-correos {
    padding-bottom: 2em;
    font-size: 15px;
  }

  .image-footer {
    -o-object-fit: cover;
    object-fit: cover;
  }

  .logo-footer {
    width: 32em;
  }

  .grid.is--final-coypright {
    padding-top: 3em;
  }

  .link-block-3 {
    display: inline-block;
  }

  .is--white {
    font-size: 9em;
  }

  .is--white.is--69px {
    font-size: 10.4em;
  }

  .container.footer {
  }

  .checkbox-field {
    bottom: -25%;
  }

  .social-footer-lin-mobile {
    display: flex;
    width: 6em;
    margin-right: 3em;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }

  .footer-terms {
    padding-bottom: 2em;
  }

  .text-block-6 {
    font-weight: 300;
  }

  .social {
    justify-content: flex-start;
  }

  .checkbox-label {
    display: none;
    padding-left: 0.8em;
    color: #acabab;
    font-size: 10px;
  }

  .checkbox-label.open {
    display: block;
  }

  .submit-button {
    bottom: -25%;
  }

  .social-footer-link {
    display: flex;
    align-items: center;
  }

  .form-privacy {
  margin-top: 30px;
  display: block;
  font-size: 3.2em;
  justify-content: space-between;
}

.privacy {
  text-align: left;
  margin-bottom: 10px;
}

.find-us {
  margin-top: 25px;
}
}

#w-node-_7de2ee2a-78d6-b377-6fb1-3a0b18aeb276-a6462c56 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 479px) {
  #w-node-_7de2ee2a-78d6-b377-6fb1-3a0b18aeb26e-a6462c56 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_7de2ee2a-78d6-b377-6fb1-3a0b18aeb270-a6462c56 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_7de2ee2a-78d6-b377-6fb1-3a0b18aeb272-a6462c56 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_7de2ee2a-78d6-b377-6fb1-3a0b18aeb274-a6462c56 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}
