.slider-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 120px;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

/* Fondo animado */
.slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* 6 slides */
  height: 100%;
  display: flex;
  transition: transform 1s ease-in-out;
  z-index: 1;
}

.bg-slide {
  flex: 0 0 100%;
  background-size:cover;
  background-position: center;
}

/* Contenido encima */
.slider-content {
  color: #FFF;
  position: relative;
  max-width: 500px;
  z-index: 2;
}

.slider-content h2 {
  font-size: 4em;
  margin-bottom: 10px;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.slider-content p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Estado oculto (para animar salida/entrada) */
.fade-out {
  opacity: 0 !important;
  transform: translateX(-30px) !important;
}

.fade-in {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

/* Botones de servicios */
.service-btn {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  padding-left: 20px;
  background: transparent;
  border-left: 1px solid #000000;
  color: white;
  text-align: left;
  cursor: pointer;
  font-size: 1.4em;
  transition: all 0.3s;
  font-family: 'Designer';
}

.service-btn:hover,
.service-btn.active {
  background: rgba(172, 172, 172, 0.123);
  color: #111;
}

/* Puntos flotantes */
.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}

.dot {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: var(--principal1);
}