.slider-container {
  position: relative;
  width: 100%;
  overflow: visible; 
  padding-left: 5%;
    padding-right: 5%;
}

.slider {
  overflow-x: auto;       /* mantiene el scroll */
  scroll-behavior: smooth;
  scrollbar-width: none;  /* Firefox */
  padding: 40px 0;
  padding-left: 5%;
}
.slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Wrapper */
.slider-wrapper {
  display: flex;
  gap: 20px;
  overflow: visible;
  width: max-content;
}

/* Cards */
.card {
  flex: 0 0 auto;
  width: clamp(250px, 80vw, 440px); /* Desktop & tablet */
  height: clamp(320px, 60vw, 515px);
  margin: 0 10px;
  background: #222;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: transform 0.4s ease;
  transform: perspective(1000px) translateZ(0);
}

.card:hover {
  transform: perspective(1000px) translateZ(10px) scale(1.05);
  z-index: 10;
}




/* Imagen */
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Overlay */
.overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  color: #000;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(0.9rem, 2vw, 1.2rem); /* 👈 texto fluido */
  padding: 0 20px;
  line-height: 1.5;
  transition: all 0.4s ease;
}

.card:hover .overlay {
  bottom: 0;
}

/* Slider */
.slider {
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 20px 5%;
}
.slider::-webkit-scrollbar {
  display: none;
}

/* Botones */
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
}

.btn {
  background: transparent;
  border: solid 1px #b4b4b4;
  color: #969696;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px 15px;
  z-index: 10;
  transition: all 500ms ease;
}

.btn:hover {
  box-shadow: 2px 4px 6px -1px rgba(85, 85, 85, 0.59), -4px -4px 9px -1px rgba(58, 58, 58, 0.77);
}


@media (max-width: 768px) {
  .card {
    width: 80vw;
    height: auto; /* más natural en móviles */
  }
  .overlay {
    font-size: 1rem;
    padding: 10px;
  }

  .btn {
    padding: 12px 15px;
  }
}
